{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About us
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut, consectetur expedita laboriosam laborum
        molestias quasi sapiente suscipit. Cum cumque, debitis delectus excepturi facere illo laudantium nisi
        perspiciatis quo soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, officiis tempora? Amet animi commodi
        consectetur dolorem, doloremque enim et, fuga incidunt minus modi tenetur veniam. Ad, sint, voluptates.
        Blanditiis, laudantium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur autem beatae consectetur dicta
        doloribus eum, eveniet expedita fuga libero perspiciatis provident quae quam quasi rem tenetur veritatis
        voluptas. Fugit!</p>
{% endblock %}