{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block body %}
    <h1>Home</h1>

    {% set var ='<strong>titre en gras</strong>' %}

    {{ var }}
{% endblock %}