{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access denied</h1>

    <p>
        You don’t have permission to access this resource. Checkout for any URL
        misspelling or <a href="{{ path('main_home') }}">return to the homepage</a>.
    </p>
{% endblock %}